.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(15px) !important;
  -webkit-backdrop-filter: blur(15px) !important;
  box-shadow: 0 4px 16px rgba(66, 94, 105, 0.1) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  transition: background 0.3s, backdrop-filter 0.3s;
}

.navbar.navbar-light {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar.bg-body-tertiary {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  color: #0f172a;
}

body {
  padding-top: 64px; /* Adjust if navbar height changes */
}
